force-app/main/default/flows/IronManCheckIn.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FindDups</name>
        <label>FindDups</label>
        <locationX>1713</locationX>
        <locationY>943</locationY>
        <actionName>dupcheck__dc3SearchByValuesFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FoundDups</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__searchObject</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchObject</name>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_to_Slack</name>
        <label>Post to Slack</label>
        <locationX>1963</locationX>
        <locationY>1444</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GetVolHrs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>New vol signup</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a1i3u000001KY9JAAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>VolunteerID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>AssignExistingVol</name>
        <label>AssignExistingVol</label>
        <locationX>1964</locationX>
        <locationY>1313</locationY>
        <assignmentItems>
            <assignToReference>ContactToBeAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookExistingVol.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShiftToBeRegistered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShiftList_ExitingVol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetShiftRecordForNewVol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSHiftID</name>
        <label>AssignSHiftID</label>
        <locationX>1555</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>ShiftToBeRegistered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shift</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactToBeAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_vol</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetShiftRecordForNewVol</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVolID</name>
        <label>AssignVolID</label>
        <locationX>2172</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>VolunteerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListOfVolunteers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetVolHrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVolID_fromNewExt</name>
        <label>AssignVolID</label>
        <locationX>1803</locationX>
        <locationY>1444</locationY>
        <assignmentItems>
            <assignToReference>VolunteerID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Vol_Hours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_to_Slack</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewContactAssignment</name>
        <label>NewContactAssignment</label>
        <locationX>1553</locationX>
        <locationY>946</locationY>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_NewVol</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_NewVol</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email_newvol.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindDups</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangeShift</name>
        <choiceText>&lt;strong&gt;Change Shift&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>change</stringValue>
        </value>
    </choices>
    <choices>
        <name>Exemption</name>
        <choiceText>Exemption</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Exemption</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_Volunteer</name>
        <choiceText>&lt;strong&gt;Existing Volunteer&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>existing</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Volunteer</name>
        <choiceText>&lt;strong&gt;New volunteer&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>newvol</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Option</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Option</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ChangeShiftChoice</name>
        <label>ChangeShift</label>
        <locationX>2152</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>AssignVolID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vols</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>change</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Date</targetReference>
            </connector>
            <label>Change Shift</label>
        </rules>
        <rules>
            <name>NewVol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vols</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>newvol</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Volunteer_Information</targetReference>
            </connector>
            <label>New Volunteer</label>
        </rules>
        <rules>
            <name>ExistingVolunteerSelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vols</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>existing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Volunteer</targetReference>
            </connector>
            <label>ExistingVolunteer</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundDups</name>
        <label>FoundDups</label>
        <locationX>1703</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Create_New_vol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_foundDups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindDups.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FindDups.matchingScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dups</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>FoundWaiver</name>
        <label>FoundWaiver</label>
        <locationX>1546</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>GetWaiverTemplate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFoundWaiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingWaiver.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVolHrs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Change to Custom Waiver Objects</description>
    <dynamicChoiceSets>
        <name>Listofshifts</name>
        <dataType>String</dataType>
        <displayField>Job_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shift_Date</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>GW_Volunteers__Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListOfVolunteers</name>
        <dataType>String</dataType>
        <displayField>Name_with_JobTime__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shift_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Confirmed</stringValue>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>Name_with_JobTime__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShiftList</name>
        <dataType>String</dataType>
        <displayField>Job_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shift_Date</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>Job_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>IronManCheckIn {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FB4KMN CheckIn</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_vol</name>
        <label>Create New vol</label>
        <locationX>1559</locationX>
        <locationY>1077</locationY>
        <connector>
            <targetReference>AssignSHiftID</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email_newvol.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_NewVol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HomePhone</field>
            <value>
                <elementReference>Phone_NewVol.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_NewVol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Vol_Hours</name>
        <label>Create Vol Hours</label>
        <locationX>1550</locationX>
        <locationY>1444</locationY>
        <connector>
            <targetReference>AssignVolID_fromNewExt</targetReference>
        </connector>
        <inputAssignments>
            <field>GW_Volunteers__Contact__c</field>
            <value>
                <elementReference>ContactToBeAssigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Hours_Worked__c</field>
            <value>
                <elementReference>GetShiftRecordForNewVol.GW_Volunteers__Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Start_Date__c</field>
            <value>
                <elementReference>GetShiftRecordForNewVol.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Status__c</field>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <value>
                <elementReference>GetShiftRecordForNewVol.GW_Volunteers__Volunteer_Job__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Shift__c</field>
            <value>
                <elementReference>ShiftToBeRegistered</elementReference>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Waiver</name>
        <label>Create Waiver</label>
        <locationX>1624</locationX>
        <locationY>1596</locationY>
        <connector>
            <targetReference>Capture_Signature</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetVolHrs.GW_Volunteers__Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Waiver_Signed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Waiver_Template__c</field>
            <value>
                <elementReference>GetWaiverTemplate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>FindShifts</name>
        <label>FindShifts</label>
        <locationX>1264</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChangeShiftChoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Shift_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>Job_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the current date to enforce covid vaccine requirement</description>
        <name>GetCurrentDate</name>
        <label>GetCurrentDate</label>
        <locationX>1063</locationX>
        <locationY>322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetLegalRequirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>covid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Current_Documents__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingWaiver</name>
        <label>GetExistingWaiver</label>
        <locationX>1904</locationX>
        <locationY>1928</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FoundWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVolHrs.GW_Volunteers__Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expired__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find the legal doc for this volunteer</description>
        <name>GetLegalDoc</name>
        <label>GetLegalDoc</label>
        <locationX>1063</locationX>
        <locationY>1935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVolHrs.GW_Volunteers__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Legal_Requirement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetLegalRequirement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legal_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the current Covid  requirement</description>
        <name>GetLegalRequirement</name>
        <label>GetLegalRequirement</label>
        <locationX>1063</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>covid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCurrentDate.Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Legal_Requirement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShift</name>
        <label>GetShift</label>
        <locationX>2173</locationX>
        <locationY>1929</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingWaiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetVolHrs.GW_Volunteers__Volunteer_Shift__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetShiftRecordForNewVol</name>
        <label>GetShiftRecord</label>
        <locationX>1550</locationX>
        <locationY>1312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Vol_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShiftToBeRegistered</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetVolHrs</name>
        <label>GetVolHrs</label>
        <locationX>2173</locationX>
        <locationY>1444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetShift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWaiverTemplate</name>
        <label>GetWaiverTemplate</label>
        <locationX>1555</locationX>
        <locationY>1779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Waiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiver</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Waiver_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVolHrs</name>
        <label>UpdateVolHrs</label>
        <locationX>1263</locationX>
        <locationY>1935</locationY>
        <connector>
            <targetReference>GetLegalDoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VolunteerID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GW_Volunteers__Hours_Worked__c</field>
            <value>
                <elementReference>GetShift.GW_Volunteers__Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Capture_Signature</name>
        <label>Capture Signature</label>
        <locationX>1263</locationX>
        <locationY>1597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateVolHrs</targetReference>
        </connector>
        <fields>
            <name>Capture_Signature_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Capture_Signature_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Signature_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WaiverMsg</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetWaiverTemplate.Description__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SignatureEnd</name>
                    <extensionName>c:SigCapFlowWithFinish</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Create_Waiver</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>saveAttachment</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>saveButtonLabel</name>
                        <value>
                            <stringValue>Continue</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Capture_Signature_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Warning</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(244, 4, 4);&quot;&gt;Please hit save after you write your signature&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Do not forget to hit SAVE after you write your signature&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Date</name>
        <label>Choose Date</label>
        <locationX>1063</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Volunteers</targetReference>
        </connector>
        <fields>
            <name>Choose_Date_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Choose_Date_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Date_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shift_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Shift Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Choose_Date_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1063</locationX>
        <locationY>1055</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Volunteers</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispConfirmation</name>
                    <fieldText>&lt;p&gt;{!GetVolHrs.GW_Volunteers__Full_Name__c} has been {!GetVolHrs.GW_Volunteers__Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>dups</name>
        <label>dups</label>
        <locationX>1855</locationX>
        <locationY>1073</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Existing_Volunteer</targetReference>
        </connector>
        <fields>
            <name>DupMsg</name>
            <fieldText>&lt;p&gt;We found that volunteer in the system, in the next screen search for that person to continue&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>showdups</name>
            <extensionName>dupcheck:dc3FlowShowDuplicatesScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchResult</name>
                <value>
                    <elementReference>FindDups.duplicateResult</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Existing_Volunteer</name>
        <label>Find Existing Volunteer</label>
        <locationX>1964</locationX>
        <locationY>1072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignExistingVol</targetReference>
        </connector>
        <fields>
            <name>Find_Existing_Volunteer_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Find_Existing_Volunteer_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Find_Existing_Volunteer_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LookExistingVol</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>LookExistingVol</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShiftList_ExitingVol</name>
                    <choiceReferences>ShiftList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>ShiftList_ExitingVol</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Find_Existing_Volunteer_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>List_of_Volunteers</name>
        <label>List of Volunteers</label>
        <locationX>1063</locationX>
        <locationY>726</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindShifts</targetReference>
        </connector>
        <fields>
            <name>List_of_Volunteers_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>List_of_Volunteers_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JobName</name>
                    <fieldText>&lt;p&gt;Date: {!Shift_Date}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>List_of_Volunteers_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vols</name>
                    <choiceReferences>ListOfVolunteers</choiceReferences>
                    <choiceReferences>New_Volunteer</choiceReferences>
                    <choiceReferences>Existing_Volunteer</choiceReferences>
                    <choiceReferences>ChangeShift</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Vols</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>List_of_Volunteers_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Volunteer_Information</name>
        <label>Volunteer Information</label>
        <locationX>1556</locationX>
        <locationY>822</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewContactAssignment</targetReference>
        </connector>
        <fields>
            <name>Volunteer_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Volunteer_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_NewVol</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_NewVol</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>email_newvol</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_NewVol</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Shift</name>
                    <choiceReferences>ShiftList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Shift</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Volunteer_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>934</locationX>
        <locationY>182</locationY>
        <connector>
            <targetReference>GetCurrentDate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactToBeAssigned</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ShiftToBeRegistered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VolunteerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
