force-app/main/default/flows/VolSIgnUp_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_Slack</name>
        <label>Post to Slack</label>
        <locationX>1379</locationX>
        <locationY>2437</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddVolCount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>NewVolunteerMSG</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <stringValue>a1i3u000001KY9JAAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreateVolHours</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AddVolCount</name>
        <label>AddVolCount</label>
        <locationX>1229</locationX>
        <locationY>2437</locationY>
        <assignmentItems>
            <assignToReference>CurrentShiftInLoop.GW_Volunteers__Total_Volunteers__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateShift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactID</name>
        <label>AssignContactID</label>
        <locationX>1215</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact.GW_Volunteers__Volunteer_Skills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContact.GW_Volunteers__Volunteer_Skills__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Found_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContactIDNewContact</name>
        <label>AssignContactID&amp;OtherFields</label>
        <locationX>1415</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Contact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMinors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_bringing_minors_NewContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofKids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Kids_NewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_shifts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompanyAssignment</name>
        <label>CompanyAssignment</label>
        <locationX>886</locationX>
        <locationY>1544</locationY>
        <assignmentItems>
            <assignToReference>varOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExistingContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompanyAssignment_0</name>
        <label>CompanyAssignment</label>
        <locationX>1337</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyNewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GroupAssignment</name>
        <label>GroupAssignment</label>
        <locationX>1110</locationX>
        <locationY>1543</locationY>
        <assignmentItems>
            <assignToReference>varOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateExistingContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GroupAssignment_0</name>
        <label>GroupAssignment</label>
        <locationX>1505</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>varOrganization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Group_Name_NewContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VarAssignments</name>
        <label>VarAssignments</label>
        <locationX>991</locationX>
        <locationY>1952</locationY>
        <assignmentItems>
            <assignToReference>varMinors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_you_bringing_minors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumberofKids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Kids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_shifts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No_Choice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Choice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExistingReg</name>
        <label>ExistingReg</label>
        <locationX>1548</locationX>
        <locationY>2252</locationY>
        <defaultConnector>
            <targetReference>CreateVolHours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindExistingReg.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_shifts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Contact</name>
        <label>Found Contact</label>
        <locationX>1205</locationX>
        <locationY>1208</locationY>
        <defaultConnector>
            <targetReference>Create_new_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_foundcontact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_information</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupOrCompany</name>
        <label>GroupOrCompany</label>
        <locationX>991</locationX>
        <locationY>1434</locationY>
        <defaultConnector>
            <targetReference>GroupAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group</defaultConnectorLabel>
        <rules>
            <name>CompanyChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompanyAssignment</targetReference>
            </connector>
            <label>Company</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupOrCompany_0</name>
        <label>GroupOrCompany</label>
        <locationX>1416</locationX>
        <locationY>1432</locationY>
        <defaultConnector>
            <targetReference>GroupAssignment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group</defaultConnectorLabel>
        <rules>
            <name>CompanyChoice_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompanyNewContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompanyAssignment_0</targetReference>
            </connector>
            <label>Company</label>
        </rules>
    </decisions>
    <description>This version uses data table to show the open shifts</description>
    <dynamicChoiceSets>
        <name>ShiftAvailable</name>
        <dataType>String</dataType>
        <displayField>Job_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>SixtyDaysFromToday</elementReference>
            </value>
        </filters>
        <filters>
            <field>Display_on_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>GW_Volunteers__Start_Date_Time__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>VolunteerSkills</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GW_Volunteers__Volunteer_Skills__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SixtyDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+60</expression>
    </formulas>
    <interviewLabel>VolSIgnUp-Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VolSIgnUp-Campaign</label>
    <loops>
        <name>loop_shifts</name>
        <label>loop shifts</label>
        <locationX>992</locationX>
        <locationY>2127</locationY>
        <collectionReference>ShowOpenShift.outputSelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CurrentShiftInLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Thank_you</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewContact</name>
        <label>CreateNewContact</label>
        <locationX>1417</locationX>
        <locationY>1805</locationY>
        <connector>
            <targetReference>AssignContactIDNewContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Organization__c</field>
            <value>
                <elementReference>varOrganization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Skills__c</field>
            <value>
                <elementReference>Volunteer_Skills_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingPostalCode</field>
            <value>
                <elementReference>ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateVolHours</name>
        <label>CreateVolHours</label>
        <locationX>1554</locationX>
        <locationY>2437</locationY>
        <connector>
            <targetReference>Post_to_Slack</targetReference>
        </connector>
        <inputAssignments>
            <field>GW_Volunteers__Contact__c</field>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Hours_Worked__c</field>
            <value>
                <elementReference>CurrentShiftInLoop.GW_Volunteers__Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Start_Date__c</field>
            <value>
                <elementReference>CurrentShiftInLoop.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Status__c</field>
            <value>
                <stringValue>Web Sign Up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Job__c</field>
            <value>
                <elementReference>CurrentShiftInLoop.GW_Volunteers__Volunteer_Job__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Shift__c</field>
            <value>
                <elementReference>CurrentShiftInLoop.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Bikes__c</field>
            <value>
                <elementReference>varNumberofKids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>are_you_bringing_minors__c</field>
            <value>
                <elementReference>varMinors</elementReference>
            </value>
        </inputAssignments>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CurrentShiftInLoop</name>
        <label>CurrentShiftInLoop</label>
        <locationX>1430</locationX>
        <locationY>2116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FindExistingReg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_shifts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindContact</name>
        <label>FindContact</label>
        <locationX>1215</locationX>
        <locationY>969</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignContactID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindExistingReg</name>
        <label>FindExistingReg</label>
        <locationX>1558</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExistingReg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GW_Volunteers__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Volunteer_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentShiftOnLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Hours__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpenShifts</name>
        <label>GetOpenShifts</label>
        <locationX>1215</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Shifts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>GW_Volunteers__Number_of_Volunteers_Still_Needed__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Display_on_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCampaignID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GW_Volunteers__Volunteer_Shift__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingContact</name>
        <label>UpdateExistingContact</label>
        <locationX>990</locationX>
        <locationY>1797</locationY>
        <connector>
            <targetReference>VarAssignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name_Extra</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GW_Volunteers__Volunteer_Organization__c</field>
            <value>
                <elementReference>varOrganization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Extra</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateShift</name>
        <label>UpdateShift</label>
        <locationX>991</locationX>
        <locationY>2437</locationY>
        <connector>
            <targetReference>loop_shifts</targetReference>
        </connector>
        <inputReference>CurrentShiftInLoop</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_new_contact</name>
        <label>Create new contact</label>
        <locationX>1422</locationX>
        <locationY>1303</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GroupOrCompany_0</targetReference>
        </connector>
        <fields>
            <name>Create_new_contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_new_contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewContactMSG</name>
                    <fieldText>&lt;p&gt;Welcome! Please fill out the following information to register as a volunteer.” and then &lt;b style=&quot;font-size: 14px;&quot;&gt;If this is not your first time registering&lt;/b&gt;, please click previous and use the same email.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_new_contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ZIP_Postal_Code</name>
                    <dataType>Number</dataType>
                    <fieldText>ZIP/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Volunteer_Skills_Field</name>
                    <choiceReferences>VolunteerSkills</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Volunteer Skills</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_new_contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_bringing_minors_NewContact</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you bringing minors</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>reg</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Coming_with_a_group_NewContact</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Coming with a group?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>reg</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Group_Name_NewContact</name>
                    <dataType>String</dataType>
                    <fieldText>Group Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Coming_with_a_group_NewContact</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Kids_NewContact</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Kids</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>giveaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CompanyNewContact</name>
                    <dataType>String</dataType>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>giveaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Extra_information</name>
        <label>Extra information</label>
        <locationX>999</locationX>
        <locationY>1299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GroupOrCompany</targetReference>
        </connector>
        <fields>
            <name>Extra_information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Extra_information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extra_information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_Extra</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Contact.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name_Extra</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Contact.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Extra_information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_bringing_minors</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you bringing minors</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>reg</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Coming_with_a_group</name>
                    <choiceReferences>Yes_Choice</choiceReferences>
                    <choiceReferences>No_Choice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Coming with a group?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>reg</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Group_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Group Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Coming_with_a_group</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Number_of_Kids</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Kids</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>giveaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Company</name>
                    <dataType>String</dataType>
                    <fieldText>Company</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>giveaway</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Initial_Info</name>
        <label>Initial Info</label>
        <locationX>1215</locationX>
        <locationY>849</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FindContact</targetReference>
        </connector>
        <fields>
            <name>Initial_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Initial_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>emaildisp</name>
                    <fieldText>&lt;p&gt;To make your registration easier please provide us with your email.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Initial_Info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Shifts</name>
        <label>Show Shifts</label>
        <locationX>1215</locationX>
        <locationY>688</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Info</targetReference>
        </connector>
        <fields>
            <name>Show_Shifts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Show_Shifts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Shifts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShowOpenShift</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>GW_Volunteers__Volunteer_Shift__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>GW_Volunteers__Volunteer_Shift__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Job_Name_Only__c,GW_Volunteers__Description__c,Warehouse_Address__c,GW_Volunteers__Start_Date_Time__c,GW_Volunteers__Duration__c,GW_Volunteers__Number_of_Volunteers_Still_Needed__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Job_Name_Only__c:193, GW_Volunteers__Description__c:284, Warehouse_Address__c:228, GW_Volunteers__Start_Date_Time__c:228, GW_Volunteers__Duration__c:165, GW_Volunteers__Number_of_Volunteers_Still_Needed__c:190</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWraps</name>
                        <value>
                            <stringValue>Job_Name_Only__c:false, GW_Volunteers__Description__c:false, Warehouse_Address__c:true, GW_Volunteers__Start_Date_Time__c:false, GW_Volunteers__Duration__c:true, GW_Volunteers__Number_of_Volunteers_Still_Needed__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFilters</name>
                        <value>
                            <stringValue>GW_Volunteers__Description__c:true, GW_Volunteers__Duration__c:true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>GetOpenShifts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnAlignments</name>
                        <value>
                            <stringValue>GW_Volunteers__Duration__c:center, GW_Volunteers__Number_of_Volunteers_Still_Needed__c:center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>GW_Volunteers__Number_of_Volunteers_Still_Needed__c:Number of Open Spots</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Show_Shifts_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>683</locationX>
        <locationY>2125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thank_you_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Thank_you_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Thank_you_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ThankyouMSG</name>
                    <fieldText>&lt;p&gt;Thanks for scheduling your shift, check your email for more information.&lt;/p&gt;&lt;p&gt;See you soon!&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Thank_you_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1089</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>GetOpenShifts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewVolunteerMSG</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New volunteer registered for the shift:
Volunteer: {!FindContact.FirstName} {!FindContact.LastName} 
Job: {!CurrentShiftOnLoop.Job_Name__c}
Date: {!CurrentShiftOnLoop.Start_Date__c}
Time: {!CurrentShiftOnLoop.Start_Time__c}</text>
    </textTemplates>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentShiftOnLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GW_Volunteers__Volunteer_Shift__c</objectType>
    </variables>
    <variables>
        <name>SelectedShiftID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMinors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofKids</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
